body {
    margin: 0;
  }
  
.slider-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
  
.slides {
    display: flex;
    width: 400vw;
    height: 100%;
    animation: slide 12s linear infinite;
}
  
.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    
        0% {
            transform: translateX(-300vw);
        }
        10% {
            transform: translateX(-300vw);
        }
        12.5% {
            transform: translateX(-300vw);
        }
        22.5% {
            transform: translateX(-200vw);
        }
        25% {
            transform: translateX(-200vw);
        }


        35% {
            transform: translateX(-100vw);
        }
        37.5% {
            transform: translateX(-100vw);
        }
        47.5% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(0);
        }


        50% {
            transform: translateX(0);
        }
        60% {
            transform: translateX(0);
        }
        62.5% {
            transform: translateX(0);
        }
        72.5% {
            transform: translateX(-100vw);
        }
        75% {
            transform: translateX(-100vw);
        }

        
        85% {
            transform: translateX(-200vw);
        }
        87.5% {
            transform: translateX(-200vw);
        }
        97.5% {
            transform: translateX(-300vw);
        }
        100% {
            transform: translateX(-300vw);
        }
}