* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(/assets/case-06/sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
}

.cars {
    position: absolute;
    top: 50vh;
    left: 50vh;
    display: flex;
    align-items: center;
}

.car {
    width: 600px;
    height: 300px;
    position: relative;
}

.city {
    display: flex;
    position: absolute;
    top: 38vh;
    width: 400%;
    animation: moveCity 10s ease-in-out infinite;
}

.city img {
    width: 100vw;
    height: auto;
}

.wheel {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 150px;
    animation: rotateWheels 10s ease-in-out infinite;
}

.backWheel {
    left: 45px;
}

.frontWheel {
    right: 65px;
}

.road {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 66vh;
    animation: moveRoad 10s ease-in-out infinite, forwards;
}

.roadMove {
    bottom: 0;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

@keyframes moveCity {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-75vw);
    }
}

@keyframes moveRoad {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes rotateWheels {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1440deg);
    }
}